# Build outputs
dist
build
.vite

# Dependencies
node_modules

# Config files
package-lock.json
pnpm-lock.yaml
yarn.lock

# Logs
*.log

# Templates (CSV files have specific formatting)
templates/*.csv
